body {
  margin: auto;
  max-width: 50em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: antiquewhite;
}
table {

  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  table-layout: auto;
}
th {
  padding: 0.5em;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px;

}

td {
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}
.avatarimg{
  border-radius: 20px;
  width: 80px;
  height: 80px
}
.messagecontainer {
  display: flex;
  flex-direction: row;
  padding: 2px;

}
.messagetable {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 2px;
}

.messageheader{
  display: flex;
  padding: 1%;
  margin-top: 5px;
  background-color:azure;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;

}

.messagearea{
  display: flex;
  flex-direction: row;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.deleteedit{
  display: flex;
  flex-direction: row;
  justify-content: end;

}


.alert {
  color: red;
}

.form {
  padding: 5%;
}
.form .textarea   {
  width: 100%;
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

}
.newthreadform {
  padding: 5%;
}

.newthreadform .textarea   {
  width: 100%;
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

}
.newthreadform .titlearea   {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

}
