<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tsoha Forum {% block title %}{% endblock %}</title>
  </head>
  <a href="/"><h2>Tsoha Forum</h2></a>
  {% if session.username %}
  <a href="/logout">Kirjaudu ulos, {{session.username}}</a>
  {% else %}
  <a href="/loginpage">Kirjaudu sisään</a>
  <a href="/signuppage">Luo tunnus</a>
{% endif %}


  <hr>
{% block content %}{% endblock %}
<hr>

</html>