{% extends "layout.html" %}

<html>
  {% block content %}

  <body>
    <p>Viestejä: </p>
    {% for message in messages %}

    <div class="messagecontainer">
    <img class="avatarimg" src="http://localhost:5000/image/{{message.writer}}" alt="User avatar" >
    <div class="messagetable">

        <div class="messageheader">
            <div >{{message.writer}}</div>
            <div >{{message.date}}</div>
        </div>
        <div class="messagearea">
            <div class="messagetext">

            {{message.message}}
            </div>
        </div>
        {% if session.username and session.username == message.writer %}

        <div class="deleteedit">
            <div>
                <form  action="/editpage/{{message.id}}" method="GET">
                    <input type="submit" value="Muokkaa">
                    <input type="hidden" name="dest" value="message" />
                </form>

        </div>
        {%if messages|length > 1 %}

            <div>
                <form  action="/delete/{{message.id}}" method="POST">

                    <input type="submit" value="Poista">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="dest" value="message" />
                </form>
                {%endif%}
                    {%endif%}
            </div>
        </div>

        {%endfor%}
    </div>
    </div>

{% if session.username %}

<div class="form">
    <form  action="/postmessage/{{thread_id}}" method="POST">
        Kirjoita viesti:
        <br>
        <textarea class="textarea" type="text" name="message"></textarea>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{%endif%}
  </body>
  {% endblock %}
</html>
