{% extends "layout.html" %}

<html>
  {% block content %}

  <body>
    <p>Ketjuja: </p>
    <table>
        <tr>
            <th>Nimi</th>
            <th>Viestejä</th>
            <th>Viimeisin viesti</th>


        </tr>
        <tr>
            {% for thread in threads %}
            <td>

            <a href="thread/{{thread.id}}">{{thread.title}}</a>
            </td>
            <td>{{messagecount[thread.id-1][0]}}</td>
            <td>{{messagecount[thread.id-1][1]}}</td>
        </tr>

    {%endfor%}

</table>
{% if session.username %}

<div class="newthreadform">
    <form  action="/postthread/{{forum_id}}" method="POST">
        
        Lisää ketju:
        <br>
        <input class="titlearea" type="text" name="title">
        <textarea class="textarea" type="text" name="message"></textarea>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{%endif%}

  </body>
  {% endblock %}
</html>
